<% include ./partials/header %>
<h1>Edit a Post</h1>
<div class="ui main text container segment">
	<form class="ui form" action="/blogs/<%=blog._id%>" method="POST">
	<label>Title</label>
	<input type="text" name="revisedTitle" id="revisedTitle" value="<%=blog.title%>"/>
	<label>Author</label>
	<input type="text" name="revisedAuthor" id="revisedAuthor" value="<%=blog.author%>"/>
	<label>Image</label>
	<input type="text" name="revisedImage" id="revisedImage" value="<%=blog.imageUrl%>"/>
	<label>Post</label>
	<textarea name="revisedPost" id="revisedPost"><%=blog.post%></textarea>
	<input type="submit" class="small ui button" value="submit"/>
	</form>
	<a href="/blogs/:id">Delete</a>
</div>
<% include ./partials/footer %>
